// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.col {
    color: white;
}

.card-header{
    color:white;
}

.mb-3{
    color:white;
}

.form-label{
    color:white;
}

.show{
    color:black;
}

.seleccionable{
    color:black;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}